
h1 {
  text-align: center;

}

.bb, .bb::before, .bb::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.bb {

  width: 500px;
  height: 600px;
  margin:  auto;
  color: #69ca62;
  box-shadow: inset 0 0 0 2px rgba(105, 202, 98, 0.5);
}
.bb::before, .bb::after {
  content: '';
  z-index: -4;
  margin: -5%;
  box-shadow: inset 0 0 0 4px;
  animation: clipMe 8s linear infinite;
}
.bb::before {
  animation-delay: -4s;
}
.bb:hover::after, .bb:hover::before {
  background-color: rgba(255, 0, 0, 0.3);
}

@keyframes clipMe {
  0%, 100% {
    clip: rect(0px, 720px, 2px, 0px);
  }
  25% {
    clip: rect(0px, 2px, 720px, 0px);
  }
  50% {
    clip: rect(818px, 820px, 820px, 0px);
  }
  75% {
    clip: rect(0px, 820px, 820px, 818px);
  }
}
html,
body {
  height: 800px;
}

body {
  position: relative;
  background-color: #645169;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


/*Clear and Calculate Buttons*/

.buttonfx{
  color: black; /* button text color */
  outline: none;
  background: transparent;
  border: none;
  border-bottom: 2px solid #eee;
  letter-spacing: 0.0625em;
  padding: 8px 10px; 
  text-transform: uppercase;
  font: bold 10px 'Bitter', sans-serif; /* use google font */
  line-height: 1;
  position: relative;
    display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
   border-radius: 15px;
  box-shadow: 0 5px #999;
  cursor: pointer;
    text-decoration: none; /* remove underline if using A instead of BUTTON tag */
  overflow: hidden;
  transition: all .5s;
}

/* //// Default effect: Slide from Top  //// */

.buttonfx:before,
.buttonfx:after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background: #259f6c; /* onhover background color */
  z-index: -1;
  transform: translate3D(0,-100%,0); /* move elements above button so they don't appear initially */
  transition: all .5s;
}

.buttonfx:before{
  background: #fafcd6; /* button default background color */
  z-index: -2;
  transform: translate3D(0,0,0);
}

.buttonfx:hover{
    color: white;
}

.buttonfx:hover:after{
  transform: translate3D(0,0,0);
  transition: all .5s;
}

/*Bouncein effect*/

.bouncein:hover:before,
.bouncein:hover:after{
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66) !important;
}

